.main {
  /* height: calc(100dvh - 88px);
	padding-top: 88px; */
  height: 100dvh;
  background-color: #fff;
}

.plus_btn {
  position: absolute;
  bottom: 24px;
  right: 20px;
}

@media (min-width: 430px) {
  .plus_btn {
    left: 50%;
    transform: translateX(200%);
  }
}
