.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-button--primary {
  background-color: #1ea7fd;
  color: white;
}
.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
.btn_save {
  display: flex;
  width: 350px;
  height: 44px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background: var(--accent, #458ef7);
  border: none;
  color: var(--white, #fff);
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.btn_save_dot {
  position: relative;
}

.btn_save_dot::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 24px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.btn_save:disabled {
  border-radius: 40px;
  background: var(--light-silver, #cecece);
  color: var(--silver, #939393);
}

.btn_save_dot:disabled::after {
  background-color: #939393;
}

.btn_cancel {
  display: flex;
  width: 350px;
  height: 44px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--accent, #458ef7);
  color: var(--accent, #458ef7);
  text-align: right;

  /* list item */
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  text-transform: uppercase;
}

.btn_cancel_dot {
  position: relative;
}

.btn_cancel_dot::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 24px;
  width: 8px;
  height: 8px;
  background-color: #458ef7;
  border-radius: 50%;
}
