.container {
  margin-top: 34px;
}

.toggle_wrapper {
  display: flex;
  justify-content: space-around;
  width: 352px;
  background-color: #ecf4fe;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.toggle_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #007bff;
  border-radius: 15px;
  transition: left 0.3s ease;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.btn {
  color: #939393;
  text-align: center;
  font-family: 'Neue Montreal';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
  padding: 4px 63px;
  transition: all 0.3s ease;
  z-index: 2;
  position: relative;
}

.active {
  color: #fff;
}

.requests_count {
  position: absolute;
  right: 10px;
  top: -5px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e73a2e;
  color: #fff;
}

