.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	margin-bottom: 148px;
}

.label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: var(--black, #0d0d0d);

	/* text 13 */
	font-family: "Neue Montreal";
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.input_wrapper {
	display: flex;
}
.input {
	display: flex;
	width: 275px;
	/* height: 44px; */
	padding: 8px 0 8px 16px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 40px;
	border: 1px solid var(--light-silver, #cecece);
}

.input::placeholder {
	color: var(--silver, #939393);
	text-align: center;
	font-family: "Neue Montreal";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btn_edit {
	background-color: transparent;
	border: none;
}
