.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	gap: 16px;
}

.list_paragraphs {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.paragraph {
	color: var(--black, #0d0d0d);

	/* main text */
	font-family: "Neue Montreal";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.go_it {
	display: flex;
	width: 350px;
	height: 44px;
	padding: 8px 24px;
	justify-content: space-between;
	align-items: center;
	border: none;
	border-radius: 40px;
	background: var(--accent, #458ef7);
	color: var(--white, #fff);
	text-align: right;

	/* list item */
	font-family: "Neue Montreal";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 183px;
}

.go_it::after {
	content: "";
	position: absolute;
	top: 18px;
	right: 24px;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
}
