.container {
  /* padding-top: 55px; */
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  max-height: 100%;
}

.categories_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 350px; */
  padding: 8px 16px;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid var(--light-silver, #cecece);
}

.add_category {
  display: flex;
  /* width: 350px; */
  height: 44px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--accent, #458ef7);
  text-transform: uppercase;
  background-color: #fff;
  color: var(--accent, #458ef7);
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add_category_item {
  display: flex;
  width: 314px;
  padding: 8px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--accent, #458ef7);
  background-color: #fff;
}

.add_category_item_text {
  color: var(--accent, #458ef7);
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
